body {
  font-family: var(--font-family-second);
  background-color: hsl(0, 100%, 50%);
}

.theme-dark {
  background-color: black;
  color: white;
}

.theme-light {
  background-color: white;
  color: black;
}

/* button */

.theme-light .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em .6em;
  font-size: var(--font-size-button);
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-200);
}
.theme-light .button:hover {
  border-color: #646cff;
}
.theme-light .button:focus,
.theme-light .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.theme-dark .button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em .6em;
  font-size: var(--font-size-button);
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-200);
  cursor: pointer;
  transition: border-color 0.25s;
  color: #1a1a1a;
}
.theme-dark .button:hover {
  border-color: #646cff;
  color: #646cff;
}
.theme-dark .button:focus,
.theme-dark .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* anchors */

.theme-light a {
  font-weight: 500;
  color: var(--color-200);
  text-decoration: none;
}
.theme-light a:hover {
  color: hsl(237, 86%, 64%);
}

.theme-dark a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
.theme-dark a:hover {
  color: hsl(237, 86%, 64%);
}


/* mobile */

@media screen and (max-width: 480px) {
  .main-container {
    display: block;
    
  }
}

/* non-mobile */

@media screen and (min-width: 480px) {
  .theme-dark .main-container,
  .theme-light .main-container {
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
  }
}